apiVersion: apps/v1
kind: Deployment
metadata:
  name: rest-api-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rest-api-proxy
  template:
    metadata:
      labels:
        app: rest-api-proxy
    spec:
      containers:
        - name: nginx
          image: nginx:alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: nginx-config-vol
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
      volumes:
        - name: nginx-config-vol
          configMap:
            name: nginx-config
---
apiVersion: v1
kind: Service
metadata:
  name: rest-api-proxy-svc
spec:
  selector:
    app: rest-api-proxy
  ports:
    - port: 80
      targetPort: 80
  type: NodePort
